<%- include('../../partials/header.ejs')%> <%-
include('../../partials/navbar.ejs')%>

<link
  href="https://fonts.googleapis.com/css2?family=Archivo:wght@600;700&family=Poppins&display=swap"
  rel="stylesheet"
/>
<style>
  .container {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #98c1d9;
  }

  .container h2 {
    font-family: "Archivo", sans-serif;
    color: #ee6c4d;
  }
</style>

<div class="container">
  <hr />
  <h2>Categorias</h2>
  <a
    class="btn btn-dark"
    href="/admin/categories/new"
    style="background-color: #98c1d9"
    >Criar nova categoria</a
  >
  <hr />
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>título</th>
        <th>Slug</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% categories.forEach(category => { %>
      <tr>
        <td><%=category.id%></td>
        <td><%=category.title%></td>
        <td><%=category.slug%></td>
        <td>
          <a
            href="/admin/categories/edit/<%=category.id%>"
            class="btn btn-success"
            style="background-color: #77dd77"
            >Editar</a
          >

          <form
            method="POST"
            action="/categories/delete"
            style="display: inline"
            onsubmit="confirmarDeletar(event, this)"
          >
            <input type="hidden" name="id" value="<%= category.id %>" />
            <button class="btn btn-outline-danger">Deletar</button>
          </form>
        </td>
      </tr>

      <% }) %>
    </tbody>
  </table>
</div>

<%- include('../../partials/footer.ejs')%>
<script>
  function confirmarDeletar(event, form) {
    event.preventDefault();
    var decision = confirm("Você quer deletar essa postagem?");
    if (decision) {
      form.submit();
    }
  }
</script>
